



body {
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

div.icones {
    
    float: right;
    width: 50px;
    margin: 15px;
}

div.phone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 800px;
}

img.icone {
    border-radius: 90%;
    width: 50px;
    padding: 10px;
}

img.phone1 {
    max-width: 30vw;
    height: 500px;
}