



body {
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

div.icones {
    
    float: right;
    width: 50px;
    margin: 15px;
}

div.phone {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 800px;
}

img.icone {

    border-radius: 90%;
    width: 50px;
    padding: 10px;
}

img.phone1 {
    position: absolute;
    height: 500px;
}

div.phone > iframe {
    position: relative;
    background-image: url('../imagens/tela-home.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 380px;

}